<div layout="column" layout-align="center center" flex="100">

  <md-content flex="100" style="width: 50%">
    <div class="" layout="column" layout-align="center center" flex="100" style="padding: 20px; background-color: #ffffff; border: 1px solid #e5e5e5;;">
      <img src="../../assets/images/MCON_logo-2.png">
    </div>

    <section class="jumbotron" layout="column" layout-align="center stretch" flex="100">
      <div layout="row" layout-align="space-between start" class="padding-top-10 padding-bottom-10">
        <span flex="100" class="md-subhead">Employee List</span>
      </div>
      <md-content ng-if="vm.employees.length > 0" layout="row" layout-align="space-between start" flex="50">
        <span flex="20"></span>
        <md-list class="md-dense flex-100">
          <md-list-item class="sample-show-hide"
                        ng-repeat="item in vm.employees | orderBy: 'name'" flex>
            <div layout="column" layout-align="center stretch" flex="100">
              <div ng-click="vm.showDetails(item.id)" layout="row" layout-align="center stretch" flex class="item-list-header padding-left-10 cursorHand">
                <div flex="100" class="">
                  <div layout="row" layout-align="start center"
                       class="">
                    <button class="md-fab md-mini md-button md-ink-ripple" type="button" style="background-color: #40b8ff">
                      <md-icon class="ng-scope md-cyan-theme material-icons zmdi zmdi-eye" aria-hidden="true" style=""></md-icon>
                    </button>
                  </div>
                </div>
                <div layout="row" layout-align="center center" flex="80" class="padding-top-10">
                  <div layout="column" flex>
                    <span class="md-title">{{ item.name }}</span>

                  </div>
                </div>
              </div>
              <md-divider></md-divider>
              <div ng-show="vm.detailFlag[item.id]" class="md-padding">
                <div class="" layout="row" layout-align="space-between center" flex="100" ng-click="vm.showAlert($event, item)">
                  <div layout="column" flex="50">
                    <div layout="row" layout-align="space-between start">
                      <span class="md-body-2">Age:</span>
                      <span class="md-caption">{{ item.age }} years</span>
                    </div>
                    <div layout="row" layout-align="space-between center">
                      <span class="md-body-2">Gender:</span>
                      <span class="md-caption">{{ item.gender }}</span>
                    </div>
                    <div layout="row" layout-align="space-between center">
                      <span class="md-body-2">Status:</span>
                      <span class="md-caption">{{ item.status }}</span>
                    </div>
                    <div layout="row" layout-align="space-between center">
                      <span class="md-body-2">Profession:</span>
                      <span class="md-caption">{{ item.profession }}</span>
                    </div>
                  </div>
                  <div class="padding" layout="column" layout-align="center center" flex="50">
                    <img src="../../assets/images/av1_1.png" style="width: 100px">
                  </div>
                </div>
              </div>
              <md-divider></md-divider>
            </div>
          </md-list-item>
        </md-list>
        <span flex="20"></span>
      </md-content>
    </section>


  </md-content>

</div>
